* {
    padding: 0;
    margin: 0;
}

:root {
    --cor-sonserina-verde: #1A472A;
    /* Verde da Sonserina */
    --cor-sonserina-prata: #AAAAAA;
    /* Prata da Sonserina */
    --color-01: #06C;
    --color-02: #000;
    --color-03: #fff;
    --color-04: rgb(19, 53, 19);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}


img {
    display: block;
    max-width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-style: italic;
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

h1:hover {
    color: #740001;
}

#cabecalho {
    background-color: var(--color-02);
    margin-bottom: 5px;
    position: sticky;
    z-index: 1;
    top: 0;
    width: 100vw; /* <- ISSO AQUI resolve a largura */
    overflow-x: hidden; /* opcional */
}

#logo{
    margin: auto;
    max-width: 40px;
}

#cabecalho h1:hover {
    transition: 0.3s;
}

#cabecalho #logo {
    width: 40px;
}

#cabecalho #menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#cabecalho #menu a {
    color: var(--color-03);
    display: block;
    padding: 10px;
    text-decoration: none;
    transition: all 0.3s linear;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 16px;
}

#cabecalho #menu li {
    list-style: none;
}

#cabecalho #menu li .submenu {
    display: none;
    position: absolute;
    background-color: var(--color-02);
}

#cabecalho #menu li:hover .submenu {
    display: block;
}

#rodape {
    background-color: var(--color-02);
    text-align: center;
    margin-top: 50px;
    padding: 50px;
    color: #FFF;
}

#rodape a {

    color: #FFF;
    text-decoration: none;
}

#rodape a:hover {
    color: var(--cor-sonserina-verde);
    text-decoration: underline;
}

@media (max-width: 320px) {
    #cabecalho #menu ul {
        flex-direction: column; /* Alinha os itens do menu verticalmente */
        width: 100%;
    }
    #cabecalho #menu a {
        padding: 10px; /* Reduz o padding para caber melhor na tela */
    }
}

@media (max-width: 480px) {
    nav ul {
        flex-direction: column;
        gap: 0.5rem;
    }
    
    nav li a {
        display: block;
    }
}